/* primary: #11998e;
secondary: #38ef7d;
white: #fff;
gray: #9b9b9b; */
.form__group {
  position: relative;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: gray;
}

/* demo */
body {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.2rem;
  background-color: #22222254;
  background-image: url("../public/Wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.lista li:hover {
  cursor: pointer;
  background-color: rgba(94, 93, 93, 0.5);
}

.lista li {
  color: white;
  cursor: pointer;
}

.titulo {
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 3.5rem;
}

.span {
  font-family: "Courier New", Courier, monospace;
  color: white;
}

.aside {
  font-family: "Courier New", Courier, monospace;
  color: white;
}

.boton {
  font-family: "Courier New", Courier, monospace;
  background-color: #222222fd;
  color: white;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}
